{
  "plugins": ["angular"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "babel": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "angular": false,
    "$": false
  },
  "rules": {
    "angular/module-getter": 1,
    "angular/module-setter": 1,
    "angular/no-private-call": 1,
    "angular/controller-as-route": 1,
    "angular/controller-as-vm": 1,
    "angular/controller-as": 0,
    "angular/deferred": 1,
    "angular/di-unused": 1
  }
}
