/*
---
name: banners
category: components/banners
---

* Default banner style.

```html
<div class="vbr-banner-container" ng-class="{{vm.type}}">
    <div class="vbr-banner-content">
        <span class="vbr-banner-cus-icon" ng-if="vm.customIcon">
            <i class="{{vm.customIcon}}"></i>
        </span>
        <span class="vbr-banner-cus-icon">
            <i class="{{vm.customIcon}}"></i>
        </span>
        <span class="vbr-banner-msg">{{vm.message}}</span>
        <span ng-if="vm.closeable">
            <span>X</span>
        </span>
    </div>
</div>
```
 */

.vbr-banner-container {
    display: block;
    position: relative;
    width: 100%;
    &.success {
        color('success');
    }
    &.error {
        color('error');
    }
}

.vbr-banner-container {

}
