/*
---
name: banners
category: components/banners
---

* Default banner style.

!![](./banner_example.html)

 */

%banner-contents {
    margin: 0 $banner-icon-padding;
    &.icon-left {
        font-size: $banner-icon-size;
    }
}

.vbr-banner-container {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    padding: $content-padding-vertical $content-padding-horizontal;
    &.success {
        background-color: color('success');
        span {
            @extend %banner-contents;
            color: color('white');
        }
    }
    &.error {
        background-color: color('error');
        span {
            @extend %banner-contents;
            color: color('highlight-red');
        }
    }
}

