.card{
    background: color('grey');
    border: 1px solid color('border');
    border-radius: calculateRem(8px);
    padding: calculateRem(20px);
}

.card-container{
    @extend .col-xs-12;
    @extend .col-lg-8;
}
