
/*
---
name: Check Boxes
category: components/check-box
---

!![](./checkbox_example.html)
*/

.vbr-checkbox, vbr-checkbox{
    font-family: $font-family-regular;
    .vbr-checkbox-group{
        @include display-inline-flex();
        &.vertical {
            @include display-flex();
        }
        margin: $content-padding;

        .checkbox{
            color: $checkbox-default-font-color;
            font-size: $checkbox-default-label-font-size;
            &:focus{
                outline: $checkbox-focused-border-color $checkbox-focused-border-width $checkbox-default-border-style !important;
            }
            input[type="checkbox"]{
                display: none !important;
            }
            span{
                background-color: $checkbox-default-bg-color;
                padding: $checkbox-default-height/2 $checkbox-default-width/2;
                @include border-radius($checkbox-border-radius);
                display: inline-block;
                position: relative;
                vertical-align: middle;
                margin-top: $checkbox-default-label-font-size - $checkbox-default-height;//hack to get this too look exactly centered
                border-width: $checkbox-default-border-width;
            }
            &.checked{
                span{
                    background-color: $checkbox-selected-bg-color;
                    &::after {
                        content: '\2713';
                        font-size: 12px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        color: $checkbox-selected-check-color;
                        text-align: center;
                    }
                }
            }
            &.disabled{
                color: $checkbox-disabled-font-color;
                cursor: not-allowed;
                span{
                    background-color: $checkbox-disabled-bg-color;
                    border-color: $checkbox-disabled-border-color;
                    border-style: $checkbox-disabled-border-style;
                    &::after{
                        display: none;
                    }
                }
            }

        }
    }
}



