/*
---
name: dropdown
category: components/dropdown
---

!![](./dropdown_example.html)
 */

.select-vibrent{
    margin: $content-padding;
    position: relative;
    font-family: $select-font;
    @include display-flex;
    background-color: $select-options-bg-color;
    .selector,select{
        font-size: $select-default-font-size;
        color: $select-default-font-color;
        @include border-radius(0);
        border: 0;
        @include vbr-bottom-border($select-default-border-color, $select-default-border-style, $select-default-border-width);
        padding-bottom: $select-default-border-vertical-padding;
        //for styling select arrow
        @include hideSelectToggle;
        background: url($images-assets-path + '/dropdown.svg') no-repeat right transparent;
        background-size: 12px 12px;
        background-position: 95% 40%;
        min-width: 100px;
        span{
            padding: $content-padding/3;
        }
        //to style placeholder
        &.ng-empty{
            color: $select-default-placeholder-color;
        }
        .options-box{
            position: absolute;
            display: block;
            top: 100%;
            width: 100%;
            background-color: $select-options-bg-color;
            border-color: $select-options-border-color;
            border-width: $select-options-border-width;
            border-style: $select-options-border-style;
            font-family: $select-options-font;
            color: $select-options-font-color;
            span{
                display: block;
                &:hover{
                    background-color: $select-options-hover-bg-color;
                    color: $select-options-hover-font-color
                }
            }
        }
        &:disabled, &.disabled{
            color: $select-disabled-font-color;
            border-bottom-style: $select-disabled-border-style;
            border-bottom-color: $select-disabled-border-color;
            background-image: url($images-assets-path + '/dropdown-disabled.svg');
        }
        &:active, &.active{
            background-image: url($images-assets-path + '/dropdown-close.svg');
        }
    }

    .label,label{
        position: absolute;
        bottom: - ($select-default-border-vertical-padding*3 +2px);
        margin: $select-default-border-vertical-padding 0;
        font-size: $select-default-label-font-size;
        color: $select-default-label-color;
        &:disabled, &.disabled{
            color: $select-disabled-label-color;
        }
    }
}
