/*
---
name: dropdown
category: components/dropdown
---

!![](./dropdown_example.html)
 */

.select-vibrent{
    margin: $content-padding;
    position: relative;
    font-family: $select-font;
    @include display-flex;
    background-color: $select-options-bg-color;
    select{
        font-size: $select-default-font-size;
        color: $select-default-font-color;
        @include border-radius(0);
        border: 0;
        @include vbr-bottom-border($select-default-border-color, $select-default-border-style, $select-default-border-width);
        padding-bottom: $select-default-border-vertical-padding;
        //for styling select arrow
        @include hideSelectToggle;
        background: url($images-assets-path + '/dropdown.svg') no-repeat right transparent;
        background-size: 12px 12px;
        background-position: 95% 40%;
        min-width: 100px;
        //to style placeholder
        &.ng-empty{
            color: $select-default-placeholder-color;
        }
        option{
            // nothing styled here will actually show up because options box is rendered primarily by the os and browser.
            // in order to achieve this we will have to build this out more custom as a directive
        }
        &:disabled, &.disabled{
            color: $select-disabled-font-color;
            border-bottom-style: $select-disabled-border-style;
            border-bottom-color: $select-disabled-border-color;
            background-image: url($images-assets-path + '/dropdown-disabled.svg');
        }
        &:active, &.active{
            background-image: url($images-assets-path + '/dropdown-close.svg');
        }
    }

    label{
        position: absolute;
        bottom: - ($select-default-border-vertical-padding*3 +2px);
        margin: $select-default-border-vertical-padding 0;
        font-size: $select-default-label-font-size;
        color: $select-default-label-color;
        &:disabled, &.disabled{
            color: $select-disabled-label-color;
        }
    }
}
