/*
---
name: dropdown
category: components/dropdown
---


```html
<div style="display: inline-block;">
    <div class="select-vibrent">
        <label for="example">label</label>
        <select id="example">
            <option value="" selected disabled >placeholder</option>
            <option id="1" value="first">first</option>
            <option id="2" value="second">second</option>
            <option id="3" value="third">third</option>
        </select>
    </div>
</div>
```
 */

.select-vibrent{
    font-family: $select-font;
    @include flex();
    background-color: $select-options-bg-color;
    border-bottom-color: $select-default-border-color;
    border-bottom-style: $select-default-border-style;
    border-bottom-width: $select-default-border-width;
    select{
        -webkit-appearance: none;
        @include border-radius(0);
        background: transparent;
        font-size: $select-default-font-size;
        color: $select-default-font-color;
        border: 0;
        padding-bottom: $input-default-border-vertical-padding;
        option{
             background-color: $select-options-bg-color;
            :first-of-type{
                color: $select-default-placeholder-color;
                display: none;
            }
        }
    }

    label{
        position: absolute;
        bottom: - $input-default-border-vertical-padding;
        margin: $input-default-border-vertical-padding 0;
        font-size: $input-default-label-font-size;
        color: $input-default-label-color;
    }
}
