
$base-icon-prefix: "icon_vibrent_";

[class^=#{$base-icon-prefix}], [class*=#{$base-icon-prefix}] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $custom-font !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center
}


.#{$base-icon-prefix}exit{
    @include icon($vbr-icon-exit)
}
.#{$base-icon-prefix}lock {
   @include icon($vbr-icon-lock)
}
.#{$base-icon-prefix}check {
    @include icon($vbr-icon-check)
}
.#{$base-icon-prefix}pause {
    @include icon($vbr-icon-pause)
}
.#{$base-icon-prefix}arrow_left {
    @include icon($vbr-icon-arrow-left)
}
.#{$base-icon-prefix}arrow_right {
    @include icon($vbr-icon-arrow-right)
}
.#{$base-icon-prefix}calendar {
    @include icon($vbr-icon-calendar)
}
.#{$base-icon-prefix}edit {
    @include icon($vbr-icon-edit)
}
.#{$base-icon-prefix}feedback {
    @include icon($vbr-icon-feedback)
}
.#{$base-icon-prefix}feeds {
    @include icon($vbr-icon-feeds)
}
.#{$base-icon-prefix}gallery {
    @include icon($vbr-icon-gallery)
}
.#{$base-icon-prefix}hamburger {
    @include icon($vbr-icon-hamburger)
}
.#{$base-icon-prefix}help {
    @include icon($vbr-icon-help)
}
.#{$base-icon-prefix}home {
    @include icon($vbr-icon-home)
}
.#{$base-icon-prefix}inbox {
    @include icon($vbr-icon-inbox)
}
.#{$base-icon-prefix}info {
    @include icon($vbr-icon-info)
}
.#{$base-icon-prefix}lt {
    @include icon($vbr-icon-lt)
}
.#{$base-icon-prefix}messages {
    @include icon($vbr-icon-messages)
}
.#{$base-icon-prefix}minus {
    @include icon($vbr-icon-minus)
}
.#{$base-icon-prefix}news {
    @include icon($vbr-icon-news)
}
.#{$base-icon-prefix}plus {
    @include icon($vbr-icon-plus)
}
.#{$base-icon-prefix}preferences {
    @include icon($vbr-icon-preferences)
}
.#{$base-icon-prefix}profile {
    @include icon($vbr-icon-profile)
}
.#{$base-icon-prefix}program {
    @include icon($vbr-icon-program)
}
.#{$base-icon-prefix}search {
   @include icon($vbr-icon-search)
}
.#{$base-icon-prefix}stats {
    @include icon($vbr-icon-stats)
}
.#{$base-icon-prefix}telephone {
    @include icon($vbr-icon-telephone)
}
.#{$base-icon-prefix}thin_hamburger {
    @include icon($vbr-icon-thin_hamburger)
}
.#{$base-icon-prefix}user {
    @include icon($vbr-icon-user)
}
.#{$base-icon-prefix}x {
    @include icon($vbr-icon-x)
}

/*
---
name: Icons
category: iconography
---
* font: $custom-font
* use `icon-left` to display the icon to the left of the text
* use `icon-right` to display the icon to the right of the text


!![](./icons_example.html)

 */
