.vbr-pagination {
    display: flex;
    padding: calculateRem(10px);
    background: white;
    white-space: nowrap;
    transition: opacity 0.125s;
    opacity: 0;

    &.is-multi-page {
      opacity: 1;
    }

    .pagination-left-button, .pagination-right-button {
      transition: transform 0.25s;
      cursor: pointer;
      background: none;
      border: none;
      font-size: 0;

      &:hover {
          transform: scale(1.1);
          > svg polygon {
            fill: color('dark-blue');
          }
      }

      &:disabled {
        pointer-events: none;
        > svg polygon {
          fill: color('dark-grey');
        }
      }

      > svg {
          height: calculateRem(21px);
          polygon {
              fill: color('cerulean');
              transition: fill 0.25s;
          }
      }
    }

    .pagination-left-button > svg {
      transform: rotate(180deg);
    }

    .pagination-pages-container {
        font-size: initial;
        white-space: nowrap;
        cursor: default;
        > div {
            padding: 0;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid lavender;
            background: color('light-blue');
            width: calculateRem(12px);
            height: calculateRem(12px);
        }
    }
}
