
/*
---
name: Radio Buttons
category: components/radio-button
---
!![](./radio-button_example.html)
 */

.vbr-input{
    margin: $content-padding;
    font-family: $input-font;
    position: relative;
    @include display-flex;
    input{
        font-size: $input-default-font-size;
        color: $input-default-font-color;
        border: 0;
        @include vbr-bottom-border($input-default-border-color, $input-default-border-style, $input-default-border-width);
        padding-bottom: $input-default-border-vertical-padding;
        @include vbr-placeholder($input-default-placeholder-color, $input-disabled-font-color);
        &:focus{
            border-bottom-color: $input-focused-border-color;
            border-bottom-width: $input-focused-border-width;
        }
        &.error{
            border-bottom-color: $input-error-border-color;
            border-bottom-width: $input-error-border-width;
        }
        &:disabled, &.disabled{
            color: $input-disabled-font-color;
            border-bottom-style: $input-disabled-border-style;
            border-bottom-color: $input-disabled-border-color;
        }
    }
    label{
        position: absolute;
        bottom: - ($input-default-border-vertical-padding*3 + 2px);
        margin: $input-default-border-vertical-padding 0;
        font-size: $input-default-label-font-size;
        color: $input-default-label-color;
        &:disabled, &.disabled{
            color: $input-disabled-label-color;
        }
    }
    .input-error-message{
        font-size: $input-error-message-font-size;
        color: $input-error-message-color;
        background-color: $input-error-message-bg-color;
        border-radius: $large-border-radius;
        position: absolute;
        top: ($input-default-border-vertical-padding*3 + $input-default-label-font-size*2 + $content-padding + 2px);
        width: 100%;
        padding: $content-padding/2 $content-padding;
    }
}

.vbr-input-large{
    @extend .vbr-input;
    input{
        font-size: $input-large-font-size;
        padding-bottom: $input-large-border-vertical-padding;

    }
    label{
        bottom: - ($input-large-border-vertical-padding*3 + 2px);
        margin: $input-large-border-vertical-padding 0;
        font-size: $input-large-label-font-size;
    }
    .input-error-message{
        font-size: $input-error-message-font-size;
        top: ($input-large-border-vertical-padding*3 + $input-large-label-font-size*2 + $content-padding + 2px);
    }
}

