<div class="vbr-pagination" ng-class="{ 'is-multi-page': pc.maxPage > 1 }">
    <button class="pagination-left-button" ng-disabled="pc.page === 0" ng-click="pc.dec()">PREVIOUS
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
            <polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "></polygon>
        </svg>
    </button>
    <div class="pagination-pages-container">
        <span> <strong>{{ pc.page + 1 }}</strong> of {{ pc.maxPage }} </span>
    </div>
    <button class="pagination-right-button" ng-disabled="pc.page + 1 === pc.maxPage" ng-click="pc.inc()">NEXT  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
            <polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "></polygon>
        </svg>
    </button>
</div>
