<span
    ng-if="vm.label"
    class="label"
    ng-class="{ disabled: vm.ngDisabled}">
    {{vm.label}}
</span>
<div
    id="{{vm.inputId}}"
    class="selector"
    name="{{vm.inputId}}"
    ng-model="vm.ngModel"
    ng-required="vm.ngRequired"
    ng-click="vm.flipDownArrow()"
    ng-class="{ active: vm.active, disabled: vm.ngDisabled }"
    >
    <span ng-if="!vm.ngModel">{{vm.placeholder}}</span>
    <span ng-if="vm.ngModel">{{vm.ngModel.display}}</span>
    <vbr-dropdown-options options="vm.options" ng-if="vm.active" model-value="vm.ngModel" change-wrapper="vm.ngChangeWrapper"></vbr-dropdown-options>
</div>
