<div ng-if="vm.customSelect">
    <div
        id="{{vm.inputId}}"
        class="selector"
        name="{{vm.inputId}}"
        ng-model="vm.ngModel"
        ng-required="vm.ngRequired"
        ng-click="vm.flipDownArrow()"
        ng-class="{ active: vm.active, disabled: vm.ngDisabled }"
        ng-blur="vm.resetDownArrow()">
        <span ng-if="!vm.ngModel">{{vm.placeholder}}</span>
        <span ng-if="vm.ngModel">{{vm.ngModel.display}}</span>
        <vbr-dropdown-options options="vm.options" ng-if="vm.active" model-value="vm.ngModel" change-wrapper="vm.ngChangeWrapper" disabled="vm.ngDisabled"></vbr-dropdown-options>
    </div>
    <span
        ng-if="vm.label"
        class="label"
        ng-class="{ disabled: vm.ngDisabled}">
    {{vm.label}}
</span>
</div>
<div ng-if="!vm.customSelect">
    <select
        id="{{vm.inputId}}"
        name="{{vm.inputId}}"
        ng-model="vm.ngModel"
        ng-required="vm.ngRequired"
        ng-disabled="vm.ngDisabled"
        ng-click="vm.flipDownArrow()"
        ng-change="vm.ngChangeWrapper()"
        ng-class="{ active: vm.active }"
        ng-blur="vm.resetDownArrow()"
        data-attr-multiple="{{vm.multiple}}"
        ng-size="{{vm.size}}">
        <option value="" ng-selected="vm.selectPlaceHolder" hidden>{{vm.placeholder}}</option>
        <option ng-repeat="option in vm.options" value="{{option.value}}">{{option.display}}</option>
    </select>
    <label
        ng-if="vm.label"
        for="{{vm.inputId}}"
        ng-class="{ disabled: vm.ngDisabled}">
        {{vm.label}}
    </label>
</div>
