<div ng-controller="ExampleController as ex">
    <form name="someForm">
        <div style="display: inline-flex;">
            <vbr-input
                class="vbr-input"
                id="someName"
                form="someForm"
                type="email"
                label="label"
                placeholder="placeholder"
                ng-model="ex.someModel"
                ng-required="false"
                ng-change="ex.someFunction()"
                ng-minlength="3"
                ng-maxlength="8"
                ng-pattern="/some/i"
                ng-trim="true"
                ng-disabled="ex.disabled"
                validations="ex.someValidations">
            </vbr-input>
            <vbr-input
                class="vbr-input-large"
                id="someName2"
                form="someForm"
                type="email"
                label="label"
                placeholder="placeholder"
                ng-model="ex.someModel"
                ng-required="false"
                ng-change="ex.someFunction()"
                ng-minlength="3"
                ng-maxlength="8"
                ng-pattern="/some/i"
                ng-trim="true"
                ng-disabled="ex.disabled"
                validations="ex.someValidations">
            </vbr-input>
        </div>
        <button class="vbr-btn" ng-click="ex.disableInput()">disable input</button>
    </form>
</div>
