<div ng-controller="ExampleController as ex">
    <form name="someForm">
        <div style="display: inline-flex;">
            <vbr-radiobutton
                class="vbr-radio"
                id="someName"
                form="someForm"
                type="radio"
                ng-model="ex.someModel"
                ng-required="false"
                ng-change="ex.someFunction()"
                ng-disabled="ex.disabled">
            </vbr-radiobutton>
            <vbr-radiobutton
                class="vbr-radio"
                id="someName2"
                form="someForm"
                type="radio"
                ng-model="ex.someModel"
                ng-required="false"
                ng-change="ex.someFunction()"
                ng-trim="true"
                ng-disabled="ex.disabled">
            </vbr-radiobutton>
        </div>
        <button type="button" class="vbr-btn" ng-click="ex.activeButton()">Disable Input</button>
    </form>
</div>
