<input
    id="{{vm.inputId}}"
    name="{{vm.inputId}}"
    type="{{vm.type}}"
    placeholder="{{vm.placeholder}}"
    ng-model="vm.ngModel"
    ng-required="vm.ngRequired"
    ng-minlength="vm.ngMinlength"
    ng-maxlength="vm.ngMaxlength"
    ng-change="vm.ngChange"
    ng-pattern="vm.ngPattern"
    ng-trim="vm.ngTrim"
    ng-disabled="vm.ngDisabled"
    match="vm.match"
    ng-class="{ error: vm.errorClass() }"
    uib-tooltip="{{vm.tooltip}}"
    tooltip-placement="top-left"
    tooltip-trigger="'focus'"
    tooltip-class="vbr-tooltip"
    ng-focus="vm.focused()"
    ng-blur="vm.blurred()"
/>

<label
    ng-if="vm.label"
    for="{{vm.inputId}}"
    ng-class="{ disabled: vm.ngDisabled}">
    {{vm.label}}
</label>

<div class="input-error-message" role="alert"
     ng-if="vm.shouldShowErrors()"
     ng-hide="vm.ngDisabled"
     ng-messages="vm.form[vm.inputId].$error">

    <span ng-repeat="(key, value) in vm.validations"
        ng-message="{{key}}">
        {{ value }}
    </span>

</div>
